<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ content_for_header }}
  {% render 'seo-head' %}
  {% if settings.favicon != blank %}
    <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32 }}">
  {% endif %}
  {{ 'base.css' | asset_url | stylesheet_tag }}
  {{ 'sd-header.css' | asset_url | stylesheet_tag }}
</head>
<body>
  {% section 'announcement-bar' %}
  {% section 'header' %}
  <main>{{ content_for_layout }}</main>
  {% section 'footer' %}
  {% section 'cart-drawer' %}
  {{ 'theme.js' | asset_url | script_tag }}
</body>
</html>